.text-style {
    text-decoration: none;
    color: #212121;
}

.text-style:hover {
    text-decoration: none;
    color: #456da4;
}

.text-style-fullscrn {
    background-color: #2196F3;
}

.text-style-fullscrn:hover {
    background-color: #1b7bc9;
}
.flex-row-reverse {
    flex-direction: row-reverse;
  }

  .MuiAppBar-root {
  background-color: #2196F3 !important; 
}